﻿@model GuiCliente.Models.GuiAnimesModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.idAnime)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreAnime)
            @Html.EditorFor(model => model.NombreAnime)
            @Html.ValidationMessageFor(model => model.NombreAnime)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionAnime)
            @Html.EditorFor(model => model.DescripcionAnime)
            @Html.ValidationMessageFor(model => model.DescripcionAnime)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dias)
            @Html.EditorFor(model => model.Dias)
            @Html.ValidationMessageFor(model => model.Dias)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora)
            @Html.EditorFor(model => model.Hora)
            @Html.ValidationMessageFor(model => model.Hora)
        </div>

        <div class="form-group">
            <input type="submit" value="Aceptar" class="btn button" />
            <input type="reset"  value="Reiniciar" class="btn button" />
        </div>
    }
</div>    

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

 

