﻿
@{
    ViewBag.Title = "ApiTercero";
}

<!DOCTYPE html>
<html>
<head>
    <title>Anime Online</title>

    @Styles.Render("~/Content/styleApi3.css")
</head>
<body>
    <div id="container">
        <header>
            <h1> Anime Buscador <span> YouTube </span></h1>
            <p> Busca todos tus Animes </p>
        </header>

        <section>
            <form id="search-form" name="search-form" onsubmit="return search() ">
                <div class="fieldContainer">
                    <input type="search" id="Query" size="32" class="search-fieldss" placeholder=".Anime...">
                    <input type="submit" name="search-btn" id="search-btn" value="">
                </div>
            </form>

            <ul id="results"></ul>
            <div id="buttons"></div>

        </section>
    </div>

</body>
</html>



@section scripts{
    <script>
        //llamar cuadro de reproductor
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });

        //pequeña animacion
        $(function () {
            var searchField = $('#Query');
            var icon = $('#search-btn');


            $(searchField).on('focus', function () {
                $(this).animate({
                    width: '200%'
                }, 400);
                $(icon).animate({
                    right: '650px'
                }, 400);
            })

            $('#search-fieldss').on('blur', function () {
                if (searchField.val() == "") {
                    $(searchField).animate({
                        width: '45%'
                    }, 400, function () { });
                    $(icon).animate({
                        right: '600x'
                    }, 400, function () { });
                }
            })
            $('#search-form').submit(function (e) {
                e.preventDefault();
            });
        });

        //Buscar
        function search() {
            //Mostrara
            $('#results').html('');
            $('#buttons').html('');

            //GET entrada al formulario de la caja de texto
            q = $('#Query').val();

            // GET a la API
            $.get(
                    "https://www.googleapis.com/youtube/v3/search", {
                        part: 'snippet, id',
                        q: q,
                        type: 'video',
                        key: 'AIzaSyD1XXCvbxtKtQWJag4Ipw5_EbYoKJQna0A'
                    },
                        function (data) {
                            var nextPageToken = data.nextPageToken;
                            var prevPageToken = data.prevPageToken;
                            console.log(data);

                            $.each(data.items, function (i, item) {
                                var output = getOutput(item);

                                //Muestra los resultador
                                $('#results').append(output);
                            });

                            var buttons = getButtons(prevPageToken, nextPageToken);
                            //Muestra los botnoes next, anterior
                            $('#buttons').append(buttons);
                        }
                );
        };

        //Para obtener la informacion dle video
        function getOutput(item) {
            var videoId = item.id.videoId;
            var title = item.snippet.title;
            var description = item.snippet.description;
            var thumb = item.snippet.thumbnails.high.url;
            var channelTitle = item.snippet.channelTitle;
            var videoDate = item.snippet.publishedAt;

            //Dando vista pasando los parametros
            var output = '<li>' +
            '<div class="list-left">' +
            '<img src="' + thumb + '">' +
            '</div>' +
            '<div class="list-right">' +
            '<h3> <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/' + videoId + '">' + title + '</a></h3>' +
            '<small>By <span class="cTitle">' + channelTitle + '</span>on ' + videoDate + '</small>' +
            '<p>' + description + '</p>' +
            '</div>' +
            '</li>' +
            '<div class="clearfix"></div>' +
            ''

            return output;
        }

        //next paguina funcion
        function nextPage() {
            var token = $('#next-button').data('token');
            var q = $('#next-button').data('Query');
            //Resultador
            $('#results').html('');
            $('#buttons').html('');

            //GET entrada al formulario de la caja de texto
            q = $('#Query').val();

            //RUN a la Api
            $.get(
                    "https://www.googleapis.com/youtube/v3/search", {
                        part: 'snippet, id',
                        q: q,
                        pageToken: token,
                        type: 'video',
                        key: 'AIzaSyD1XXCvbxtKtQWJag4Ipw5_EbYoKJQna0A'
                    },
                        function (data) {
                            var nextPageToken = data.nextPageToken;
                            var prevPageToken = data.prevPageToken;
                            console.log(data);

                            $.each(data.items, function (i, item) {
                                var output = getOutput(item);

                                //Muestra los resultados
                                $('#results').append(output);
                            });

                            var buttons = getButtons(prevPageToken, nextPageToken);
                            //Muestrab los botones
                            $('#buttons').append(buttons);
                        }
                );
        };


        function prevPage() {
            var token = $('#prev-button').data('token');
            var q = $('#prev-button').data('Query');

            $('#results').html('');
            $('#buttons').html('');

            q = $('#Query').val();

            $.get(
                    "https://www.googleapis.com/youtube/v3/search", {
                        part: 'snippet, id',
                        q: q,
                        pageToken: token,
                        type: 'video',
                        key: 'AIzaSyD1XXCvbxtKtQWJag4Ipw5_EbYoKJQna0A'
                    },
                        function (data) {
                            var nextPageToken = data.nextPageToken;
                            var prevPageToken = data.prevPageToken;
                            console.log(data);

                            $.each(data.items, function (i, item) {
                                var output = getOutput(item);


                                $('#results').append(output);
                            });

                            var buttons = getButtons(prevPageToken, nextPageToken);

                            $('#buttons').append(buttons);
                        }
                );
        };

        //Condiciones para los botnones
        function getButtons(prevPageToken, nextPageToken) {
            if (!prevPageToken) {
                var btnoutput = '<div class="button-container">' +
                '<button id="next-button" class="paging-button" data-token="' + nextPageToken + '" data-query="' + q + '"' +
                'onclick="nextPage();">Next Page</button></div>';
            } else {
                var btnoutput = '<div class="button-container">' +
                '<button id="prev-button" class="paging-button" data-token="' + prevPageToken + '" data-query="' + q + '"' +
                'onclick="prevPage();">Previous Page</button>' +
                '<button id="next-button" class="paging-button" data-token="' + nextPageToken + '" data-query="' + q + '"' +
                'onclick="nextPage();">Next Page</button></div>';
            }
            return btnoutput;
        }

    </script>
}

