﻿@model IEnumerable<GuiCliente.Models.GuiAnimesModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddOrEdit", "Animes")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a>
    <a href="@Url.Action("ApiTercero", "Animes")" class="btn btn-default"><i class="fa fa-play"></i> Api de Tercero</a> 
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAnime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionAnime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAnime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionAnime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", "Animes", new { id = item.idAnime})" class="btn btn-default"><i class="fa fa-pencil"></i>  Editar</a>
            <a onclick="Delete(@item.idAnime)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Anime-Online Api', 'Estas seguro que quieres eliminar este Anime?', function () {
                window.location.href = '@Url.Action("Delete","Animes")/' + id;
            }, null);
        }
    </script>
}
