﻿@model GuiCliente.Models.GuiAnime_GeneroModel
@{
    ViewBag.Title = "AddOrEditAnimeGenero";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.idAnimeGenero)

        <div class="form-group">
            @Html.LabelFor(model => model.idGeneroFK)
            @Html.EditorFor(model => model.idGeneroFK)
            @Html.ValidationMessageFor(model => model.idGeneroFK)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.idAnimeFK)
            @Html.EditorFor(model => model.idAnimeFK)
            @Html.ValidationMessageFor(model => model.idAnimeFK)
        </div>
        <div class="form-group">
            <input type="submit" value="Aceptar" class="btn button" />
            <input type="reset" value="Reiniciar" class="btn button" />
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

 

