﻿@model IEnumerable<GuiCliente.Models.GuiAnime_GeneroModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddOrEditAnimeGenero", "Anime_Genero")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a> 
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idGeneroFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idAnimeFK)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idGeneroFK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAnimeFK)
        </td>
        <td>
            <a href="@Url.Action("AddOrEditAnimeGenero", "Anime_Genero", new { id = item.idAnimeGenero})" class="btn btn-default"><i class="fa fa-pencil"></i>  Editar</a>
            <a onclick="Delete(@item.idAnimeGenero)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Anime-Online Api', 'Estas seguro que quieres eliminar este AnimeGenero?', function () {
                window.location.href = '@Url.Action("Delete", "Anime_Genero")/' + id;
            }, null);
        }

    </script>
}
