﻿@model GuiCliente.Models.GuiGenerosModel
@{
    ViewBag.Title = "AddOrEditGenero";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.idGenero)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreGenero)
            @Html.EditorFor(model => model.NombreGenero)
            @Html.ValidationMessageFor(model => model.NombreGenero)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionGenero)
            @Html.EditorFor(model => model.DescripcionGenero)
            @Html.ValidationMessageFor(model => model.DescripcionGenero)
        </div>
        <div class="form-group">
            <input type="submit" value="Aceptar" class="btn button" />
            <input type="reset" value="Reiniciar" class="btn button" />
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

 

