﻿@model IEnumerable<GuiCliente.Models.GuiGenerosModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddOrEditGenero", "Generos")" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Nuevo</a> 
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreGenero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionGenero)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreGenero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionGenero)
        </td>
        <td>
            <a href="@Url.Action("AddOrEditGenero", "Generos", new { id = item.idGenero})" class="btn btn-default"><i class="fa fa-pencil"></i>  Editar</a>
            <a onclick="Delete(@item.idGenero)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Anime-Online Api', 'Estas seguro que quieres eliminar este Genero?', function () {
                window.location.href = '@Url.Action("Delete","Generos")/' + id;
            }, null);
        }

    </script>
}